html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.site-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.magenta {
    color: #e20074;
    border-color: #e20074;
}

.magenta:hover {
    color: #fff;
    background-color: #e20074;
    border-color: #e20074;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #e20074;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e20074;
    outline: 0;
    box-shadow: none !important;
}

.form-control[readonly] {
    background-color: #fff !important;
}

.btn.focus, .btn:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e20074;
    outline: 0;
    box-shadow: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #e20074;
    border-color: #e20074;
}

a {
    color: #495057;
}

a:hover {
    color: #e20074;
}

a:not([href]):not([tabindex]):hover:not(.active) {
    color: #e20074;
}
