#progressbar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
}

.cprogress {
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
}


p.lead {
    font-size: 1.5rem;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
}

.table-cell, .table-head {
  display: table-cell;
  padding: 1em;
  border: #f0f0f0 1px solid;
}

.table-head {
  font-weight: bold;
}