#progressbar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 100px;
}

.cprogress {
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
}


p.lead {
    font-size: 1.5rem;
}