{% extends 'base.html' %}
{% block title %} VVP {% endblock %}
{% block titlebar_title %}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/component-dropzone.css">
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/custom-dropzone.js"></script>
{% endblock %}
{% block body %}
    <div class="site-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">VNF Validation Project</h1>
        <p class="lead">Please upload a zip file of your HEAT Templates (.yaml and .env) files below and click "Submit"
            to test their interoperability with the ONAP project.</p>
    </div>
    <div class="container w-50">
        <div class="card-deck text-center">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Upload</h4>
                </div>
                <div class="card-body">
                    <form action="/next" id="file-upload-form">
                        <div class="mb-4">
                            <div id="dropzone" class="dropzone"></div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-outline-primary w-25 magenta">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}